.footer {
    background-color: #1a060e;
    margin-top: auto;
    ul{
    margin-top: 1rem;
        li{
           a{
            color: #24cf7f;
            &:hover {
                color: white;
                cursor: pointer;
            }
            &:focus {
                color: #24cf7f;
            }
           }
        }
    }
    p{
        color: #24cf7f;
    }
}