.footer {
    margin-top: auto;
    ul{
        li{
           a{
            color: #24cf7f;
            &:hover {
                color: white;
                cursor: pointer;
            }
            &:focus {
                color: #24cf7f;
            }
           }
        }
    }
    p{
        color: #24cf7f;
    }
}