.navbar {
    background: #44021b;
    box-shadow: 9px 11px 30px rgb(0, 0, 0);

    .btnVacio {
        button {
            color: white;
            background-color: gray;
            border: 0;

            &:active{
                background-color: white;
                color: #630229;
            }
        }
    }

    .btnLleno {
        button {
            color: white;
            background-color: #00b862;
            border: 0;
            animation: logoCarritoLleno 1s infinite linear;

            &:active{
                background-color: white;
                color: #630229;
            }
        }
    }

    .dropdown-menu{
        li{
            a{
        &::selection{
            background-color: #137dc900;
        }
        user-select: all;
        &:active{
            background-color: #00b86200;
        }
            }
        }
        &:hover{
            cursor: pointer;
        }
    }

.restablecerF{
cursor: pointer;
}

    .classQS{
        font-weight: bold;
        transition: .3s;
        &:hover{
            cursor: pointer;
            color: #24cf7f;
        }
    }
}


.offcanvas.offcanvas-end {
    width: 33rem;
}


.offcanvas {
    background: #630229;

    .offcanvas-header {
        h5 {
            color: white;
            font-size: 2rem;
        }

        .btn-close {
            --bs-btn-close-opacity: 1;
            --bs-btn-close-focus-shadow: none;
            }
    }

    .offcanvas-body {
        margin-top: 0rem;
    }

    .carritoLlenoC {
        background-color: #44021b00;
        border-top: rgba(255, 255, 255, 0.658) .1rem solid;

        @include flexbox (row, flex-start, stretch);
        gap: 1rem;
        color: white;
        margin-bottom: .2rem;
        padding-top: .7rem;

        h2 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            width: 11rem;
        }

        h3 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: #24cf7f;
            font-weight: bold;
            width: 6rem;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            width: 1rem;
        }

        .botonesAgregarRestar {
            margin-left: 3rem;
            align-self: flex-start;

            button {
                border: 0;
                background-color: #05121b00;

                i {
                    color: #24cf7f;
                    font-size: 1.8rem;
                    margin-right: .5rem;
                    transition: .2s;

                    &:hover{
                        color: white;
                        transform: scale(.98)
                    }
                }
            }
        }
    }

    .totales {
        @include flexbox (row, flex-end, stretch);
        gap: 1rem;
        font-size: 1.2rem;
        margin-top: 1.3rem;
        margin-bottom: 1.3rem;

        td {
            color: white;
            font-size: 1.4rem;
        }

        th {
            color: #24cf7f;
            font-weight: bolder;
            font-size: 1.4rem;

        }
    }

    .botonComprar {
        margin-left: 11.9rem;
        margin-right: 1rem;
        margin-top: 1rem;
        height: 2rem;
        font-size: 1rem;
        border: 0;
        border-radius: 2rem;
        width: 9rem;
        font-weight: bolder;
        transition: .2s;
        background-color: #24cf7f;
        color: black;

        &:hover {
            background-color: #15965a;
            color: white;
            transform: scale(.98);
        }
    }

    .botonVaciar {
        margin-top: 1rem;
        height: 2rem;
        font-size: 1rem;
        border: 0;
        border-radius: 2rem;
        width: 9rem;
        font-weight: bolder;
        transition: .2s;
        background-color: #c0c0c0;

        &:hover {
            background-color: rgb(184, 50, 50);
            color: white;
            transform: scale(.98);
        }
    }
}