.navbar {
    background: #44021b;
    box-shadow: 9px 11px 30px rgb(0, 0, 0);

    .btnVacio {
        button {
            color: white;
            background-color: gray;
            border: 0;
        }
    }

    .btnLleno {
        button {
            color: white;
            background-color: green;
            border: 0;
            animation: logoCarritoLleno 1s infinite linear;
        }
    }
}

.offcanvas.offcanvas-end{
    width: 40rem;
}


.offcanvas{
    background: #630229;
    

    .offcanvas-header{
        h5{
            color: white;
            font-size:2rem;
        }
    }

    .offcanvas-body{
        margin-top: 0rem;
    }
    .carritoLlenoC {
        background-color: #44021b00;

        @include flexbox (row, flex-start, stretch);
        gap: 1rem;
        color: white;
        margin-bottom: 1rem;

        h2 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            width: 20rem;
        }

        h3 {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            color: #05121b;
            font-weight: bold;
            width: 6rem;
        }

        p {
            font-size: 1.2rem;
            margin-bottom: 1rem;
            width: 2rem;
        }
    }

    .botonComprar {
        margin-right: 1rem;
        margin-top: 1rem;
        height: 2rem;
        font-size: 1rem;
        border: 0;
        border-radius: 2rem;
        width: 9rem;
        font-weight: bolder;
        transition: .8s;
        background-color: #198754;

        &:hover {
            transform: scale(.96);
        }
    }

    .botonVaciar {
        margin-top: 1rem;
        height: 2rem;
        font-size: 1rem;
        border: 0;
        border-radius: 2rem;
        width: 9rem;
        font-weight: bolder;
        transition: .8s;
        background-color: #c0c0c0;

        &:hover {
            transform: scale(.96);
        }
    }
}