@import url('https://fonts.googleapis.com/css2?family=Raleway:ital@1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}

main {
  font-size: 10px;
}

body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: $main-font;
  background-color: #151e24;
  background-image: linear-gradient(to top, #000000be, #000000be), url("../images/fondo.jpg");
  background-size: 35rem;
}

.swal2-popup {
  border-radius: 1rem;
}

.swal2-image{
  border-radius: 1rem;
}

div#swal2-html-container {
  font-size: 1.3rem;
  font-weight: bold;
}

button.swal2-confirm.swal2-styled.swal2-default-outline {
  box-shadow: none;
  font-weight: bolder;
}

button.swal2-cancel.swal2-styled.swal2-default-outline {
  font-weight: bolder;
}